* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.col {
  display: inline-block;
  min-width: 26%;
}

.row {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: darkgreen;
  border: 3px solid black;
}

.btn-file {
  position: absolute;
  top: 10%;
  right: 5%;
  border: none;
  background: none;
  color: darkgreen;
}

.btn-file:hover, .btn-close-email:hover, .btn-start:hover, .btn-close-window-files {
  cursor: pointer;
}

.btn-login {
  background-color: black;
  border: 2px solid darkgreen;
  color: darkgreen;
  margin: 10px;
  height: 30px;
  width: 60px;
  margin-left: 150px;
}

.btn-start {
  background: none;
  border: none;
  margin: 10px;
  height: 30px;
  width: 60px;
  color: darkgreen;
  font-size: 1.8rem;
}

.btn-close-email, .btn-close-window-files {
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 2rem;
  color: #333;
  border: none;
  background: none;
}

.btn-email {
  background: none;
  border: none;
  margin: 10px;
  height: 30px;
  width: 100%;
  color: darkgreen;
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.btn-email:hover {
  cursor: pointer;
  background-color: darkgreen;
  color: black;
}

.login-input {
  background-color: black;
  color: darkgreen;
  border: 1px solid darkgreen;
  margin: 10px;
  font-size: 20px;
}

.txt-denied {
  font-size: 1.5rem;
  color: darkgreen;
  text-align: center;
}

.hidden {
  display: none;
}

.login-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: darkgreen;
  padding: 3rem;
  border: 3px solid black;
  z-index: 10;
  justify-content: center;
}

.login-modal p {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid darkgreen;
}

.modal-email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: darkgreen;
  padding: 1rem;
  z-index: 10;
  justify-content: left;
  height: 80%;
  width: 40%;
  border: 2px solid darkgreen;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.row-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  border-top: 3px solid darkgreen;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropup-content li {
  color: darkgreen;
  padding: 12px 16px;
  text-decoration: none;
}

.dropup-content li:hover {
  cursor: pointer;
}

.dropup:hover .dropup-content {
  display: block;
}

.window-files {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  background-color: black;
  border: 3px solid darkgreen;
  padding: 20px;
  z-index: 5;
}